*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.externalNativeBuild
.cxx
build/
captures/
.externalNativeBuild
.cxx
/app/build
/build
.DS_Store
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.idea/deploymentTargetSelector.xml
.idea/runConfigurations.xml
.idea/appInsightsSettings.xml
.idea/deviceStreaming.xml
.idea/deviceManager.xml
.idea/gradle.xml
.idea/markdown.xml
.idea/migrations.xml
.idea/misc.xml
.idea/vcs.xml
.idea/.gitignore
gradle/gradle-daemon-jvm.properties
